body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  padding: 8px;
  width: 100%;
}

.search-wrap {
  margin: 24px 0 ;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 24px;
    max-width: 890px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 48px;
  }
}
